header {
    background-color: purple;
    padding: 10px 20px 10px 20px;

}

.form-signin {
    max-width: 400px;
    padding: 1rem;
    background-color: #ffffff94;
}

#logo {
    background-image: url(images/treasureTask-logo.png);
    background-size: 100%;
    height: 75px;
    width: 150px;
}
.image-container {
    display: flex;
    flex-direction: column;
}
.Logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */

}
.image-container img {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    height: auto;
    margin-bottom: 20px; /* Adjust the margin between images */
}

/* Partially transparent class */
.partially-transparent {
    opacity: 0.5; /* Adjust the opacity level as needed */
}
h1, h2, h3 {
    font-family: 'Barbie', sans-serif;


}
body {
    font-family: 'Barbie', sans-serif;
}