<! DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

    <title>Contact Us</title>
</head>
<body>

<h1> Contact Us</h1>


    <form method = "post" >

        <label for="userName"> User Name</label>
        <input type="text" th:field="*{userName}">

        <label for="firstName"> First Name</label>
        <input type="text" th:field="*{firstName}">

        <label for="lastName"> Last Name</label>
        <input type="text" th:field="*{lastName}">

        <label for="email"> Email</label>
        <input type="email" th:field="*{email}">

        <label for="message"> Message</label>
        <input type="text" th:field="*{message}">



        <button type="submit"> Submit</button>
    </form>
<!-- Christi-Lee don't forget needs a handler to accept post requests-->
<!-- Christi-Lee don't forget css needs created so this form matches the look of the app when completed-->

</body>
</html>