<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dragon Gallery</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<img src="/images/dragon-gallery.png" width="100%" alt="header">
<h1>Welcome to Your Dragon Gallery</h1>
<div class="image-container">
  <img src="/images/red.jpg" width="50%" alt="Red Dragon">
  <img src="/images/blueandpurple.jpg" width="50%" alt="Blue and Purple Dragon">
  <img src="/images/brownandwhite.jpg" width="50%" alt="Brown and White Dragon">
  <img src="/images/green.jpg" width="50%" alt="Green Dragon">
  <img src="/images/orangeandyellow.jpg" width="50%" alt="Orange and Yellow Dragon">
  <img src="/images/rainbow.jpg" width="50%" alt="Rainbow Dragon">
</div>

</body>
</html>
