<! DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<p th:replace="fragments::navbar"></p>
<div th:if="${blogs.size()} > 0">
    <div th:each="blog : ${blogs}"> <!-- Corrected iteration over blogs -->
        <div th:fragment="blog">
            <h1 th:text="${blog.title}">Title</h1> <!-- Correct th:text usage -->
            <p th:text="${blog.content}">Content</p>
            <p th:text="'The latest and greatest ' + ${blog.status}">Status</p>
            <p th:text="${blog.time}">Time</p>
        </div>
    </div>
</div>
</body>
</html>