<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<p th:replace="fragments::navbar"></p>

    <form method="post">
        <label>Blog Title:
            <input type="text" name="title">
            <br/>
        </label>
        <label>Add Content:
            <textarea name="content" cols="50 rows=10"></textarea>
        </label></br>
        <label>Dragon's Scroll:
            <input type="text" name="message">
        </label><br/>
        <input type="submit" value="Submit">
    </form>

</body>
</html>